* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #008c45 0%, #f4f5f0 50%, #cd212a 100%);
  min-height: 100vh;
}
